// font
@font-face {
    font-family: "Circular";
    src: url("/fonts/circular-std.ttf");
}
// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Circular", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
// $blue: #3d3b45;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// $breakpoint-xs: 576px;
// $breakpoint-sm: 768px;
// $breakpoint-md: 992px;
// $breakpoint-lg: 1200px;

$enable-caret: false !important;

$btn-padding-y: 0.75rem;
$btn-padding-x: 1.8rem;

$btn-padding-y-lg: 0.85rem;

$btn-border-radius: 0.8rem;
$btn-border-radius-sm: 0.4rem;
$btn-border-radius-lg: 1.1rem;

$dropdown-min-width:        100%;

$spacer: 2rem;

$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$font-size-base: 0.9rem;
