// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.share {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.btn {
    &.btn-danger {
        color: #fff;
    }
}
