// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

main {
    display: block;
}

body {
    position: relative;
    background: #fff;
    color: #110f14;
    font-size: 20px;
    max-width: 100%;
}

.navbar-brand {
    img {
        width: 220px;
        height: auto;
    }
}

.navbar-nav {
    align-items: center;

    .nav-item {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
    }
}

.main-content {
    flex-grow: 1;

    .buz-hero {
        padding-top: 60px;
        padding-bottom: 100px;

        img {
            // max-width: 100%;
            height: auto;
        }
    }

    .title-xxl {
        font-size: calc(3.5294117647vw + 38.7058823529px);
        line-height: calc(3.0588235294vw + 48.2117647059px);
        letter-spacing: calc(-.0588235294vw + -.8117647059px);
    }
    .hero_row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        justify-content: space-between;
    }

    .hero_title {
        margin-bottom: 15px;
        font-weight: 700;
    }

    .hero_img {
        position: relative;
    }

    .hero_media {
        display: flex;
        justify-content: center;
    }

    .m-hero__desc {
        margin-bottom: 30px;
        color: #5f5a69;
        line-height: 1.6;
    }

    #buz_partners {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #110f14;
        width: 100%;
        color: #fff;
    }

    #features {
        padding-top: 10rem;
        padding-bottom: 10rem;

        h2 {
            font-size: $font-size-base * 3.5;
            font-weight: 700;
            color: #110f14;
            line-height: 60px;

            strong {
                color: #7c7884;
            }
        }
    }
}

.w-10 {
    width: 5% !important;
}