// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.text-get {
    color: #212529;
    font-weight: 400;
}
.border-bottom{
    border-color: dimgray;
}
.header {
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(21, 27, 38, 0.5) 100%
        ),
        url("/images/adult-business-min.jpg");
    min-height: 85%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .header-text {
        top: 25%;
        position: relative;
        text-align: left;
        color: #ffffff;
        @media (max-width: $breakpoint-md) {
            top: 0px;
        }
        span {
            font-size: 16px;
            line-height: 27px;
        }
        h3 {
            font-weight: 400;
            font-size: 24px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
        }

        a {
            color: inherit;
            text-decoration: none;
            font-size: 20px;
            font-weight: 900;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.7em + 1.5rem + 2px);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #151b26;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-brand {
    img {
        width: 140px;
    }
}

.navbar-nav {
    .btn-sm {
        padding: 0.625rem 1.125rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.25rem;
    }
    .btn {
        font-weight: 400;
        cursor: pointer;
    }
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff !important;
    margin-right: 15px !important;
}

section{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.br-1{
    border-radius: 1rem;
}

.bottom-n3 {
    bottom: -1rem!important;
}

.left-n5 {
    left: -3rem!important;
}

.w-10 {
    width: 10%!important;
}

.zindex-100 {
    z-index: 100!important;
}

.fill-primary {
    fill: #0c66ff!important;
}

svg {
    vertical-align: middle;
    overflow: hidden;
}

.top-n5 {
    top: -3rem!important;
}

.right-n5 {
    right: -3rem!important;
}

.fill-dark {
    fill: #273444!important;
}

.shadow-3d {
    box-shadow: 0.5rem 0.5rem 0 rgba(233, 236, 239, 0.5);
}

.img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}