.header__center {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.header__center::before,
.header__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}

.w-1 {
    width: 28px;
}

.w-10 {
    width: 10% !important;
}